<!-- Place Holder Template -->

<div class="container">
  <div class="header clearfix">
    <nav>
    	<ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="/">Home</a></li>
      	<li role="presentation" class="active"><a href="/Accounting">Accounting</a></li>
        <li role="presentation"><a href="/Audit">Audit</a></li>
        <li role="presentation"><a href="/Taxes">Taxes</a></li>
      	<li role="presentation"><a href="/Consulting">Consulting</a></li>
        <li role="presentation"><a href="/HR">HR</a></li>
        <li role="presentation"><a href="/Software">Software</a></li>
      	<li role="presentation"><a href="/ContactUs">Contact Us</a></li>
    	</ul>
    </nav>
    <h3 class="text-muted">Services</h3>
  </div>

  <div class="jumbotron"> 
    <h1>Accounting</h1>
    <p class="lead">Lawrence & brothers Canada helps organizations with day-to-day bookkeeping, financial statement preparation and tax returns. We have the expertise to make this essential business service cost-effective and personalized for your operations. Our clients also benefit from our tax knowledge combined with our accounting services.</p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
    	<h4>Initial Set Up</h4>
    	<h4>Accounting Policies and Procedures</h4>
      <h4>Bank Reconciliation</h4>
      <h4>Accounts Receivable</h4>
    </div>

    <div class="col-lg-6">
    	<h4>Credit Card Rconciliation</h4>
    	<h4>Accounts Payable</h4>
    	<h4>Inventory</h4>
      <h4>Fixed Assets</h4>
    </div>
  </div>

  <hr />

  <footer class="footer">
    <p>&copy; 2017 Lawrence & Brothers Canada, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</div> <!-- /container -->