<!-- Place Holder Template -->

<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/Accounting">Accounting</a></li>
        <li role="presentation" class="active"><a href="/Audit">Audit</a></li>
        <li role="presentation"><a href="/Taxes">Taxes</a></li>
        <li role="presentation"><a href="/Consulting">Consulting</a></li>
        <li role="presentation"><a href="/HR">HR</a></li>
        <li role="presentation"><a href="/Software">Software</a></li>
        <li role="presentation"><a href="/ContactUs">Contact Us</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Services</h3>
  </div>

  <div class="jumbotron"> 
    <h1>Audit</h1>
    <p class="lead">Audit is about much more than just the numbers. It’s about attesting to accomplishments and challenges, and helping to assure strong foundations for future aspirations. Deloitte illuminates the what, how, and why of change so you’re always ready to act ahead.</p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Unaudited Financial Statements Compilations</h4>
      <ul>
        <li>Statements of Financial Position (Balance Sheet)</li>
        <li>Statements of Income and other Comprehensive income (Income Statement)</li>
        <li>Statement of Cash Flow</li>
        <li>Notes of the Financial Statements</li>
      </ul>
    </div>

    <div class="col-lg-6">
      <h4>Governance, Compliance, Risk and Assurance Analysis and Control</h4>
      <ul>
        <li>Internal Control Assesment</li>
        <li>Internal Control Checklist</li>
        <li>Internal Control Procedures</li>
      </ul>
    </div>
  </div>

  <hr />

  <footer class="footer">
    <p>&copy; 2017 Lawrence & Brothers Canada, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</div> <!-- /container -->