<!-- Place Holder Template -->

<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/Accounting">Accounting</a></li>
        <li role="presentation"><a href="/Audit">Audit</a></li>
        <li role="presentation"><a href="/Taxes">Taxes</a></li>
        <li role="presentation" class="active"><a href="/Consulting">Consulting</a></li>
        <li role="presentation"><a href="/HR">HR</a></li>
        <li role="presentation"><a href="/Software">Software</a></li>
        <li role="presentation"><a href="/ContactUs">Contact Us</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Services</h3>
  </div>

  <div class="jumbotron"> 
    <h1>Consulting</h1>
    <p class="lead">We help clients lead in the markets where they compete today and where they want to be in the future. No matter how complex your business challenges, we have the skills and experience to help you take decisive action and achieve sustainable results.</p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Financial Advisory</h4>
      <ul>
        <li>Cash Flow Management</li>
        <li>Budget</li>
        <li>Financial Analysis (Variances and Trends)</li>
      </ul>
    </div>

    <div class="col-lg-6">
      <h4>Accounting Computer Systems Assistant</h4>
      <ul>
        <li>Assesment and Recommendations</li>
      </ul>
    </div>
  </div>

  <hr />

  <footer class="footer">
    <p>&copy; 2017 Lawrence & Brothers Canada, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</div> <!-- /container -->