<div class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Insert logo here -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#Services">Services</a></li>
            <li><a href="/AboutUs">About Us</a></li>
            <li><a href="/ContactUs">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide" src="/img/consulting-placeholder.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Example headline.</h1>
            <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="second-slide" src="/img/softdev-placeholder.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="third-slide" src="/img/accounting-placeholder.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>One more for good measure.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
  <section id="Services">
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="/img/accounting-placeholder.jpg" alt="Accounting placeholder image" width="140" height="140">
        <h2>Accounting</h2>
        <p>Lawrence & brothers Canada helps organizations with day-to-day bookkeeping, financial statement preparation and tax returns. We have the expertise to make this essential business service cost-effective and personalized for your operations. Our clients also benefit from our tax knowledge combined with our accounting services.</p>
        <p><a class="btn btn-default" href="/Accounting" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="/img/audit-placeholder.jpg" alt="Audit placeholder image" width="140" height="140">
        <h2>Audit</h2>
        <p>Audit is about much more than just the numbers. It’s about attesting to accomplishments and challenges, and helping to assure strong foundations for future aspirations. Deloitte illuminates the what, how, and why of change so you’re always ready to act ahead.</p>
        <p><a class="btn btn-default" href="/Audit" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="/img/taxes-placeholder.jpg" alt="Taxes placeholder image" width="140" height="140">
        <h2>Taxes</h2>
        <p>Lawrence & Brothers Canada offers clients a broad range of fully integrated tax services. Our approach combines insight and innovation from multiple disciplines with business and industry knowledge to help your company excel globally.</p>
        <p><a class="btn btn-default" href="/Taxes" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="/img/consulting-placeholder.jpg" alt="Consulting placeholder image" width="140" height="140">
        <h2>Consulting</h2>
        <p>We help clients lead in the markets where they compete today and where they want to be in the future. No matter how complex your business challenges, we have the skills and experience to help you take decisive action and achieve sustainable results.</p>
        <p><a class="btn btn-default" href="/Consulting" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="/img/hr-placeholder.jpg" alt="Human Resources placeholder image" width="140" height="140">
        <h2>Human Resources</h2>
        <p>Today’s business challenges present a new wave of HR, talent and organization priorities. Deloitte’s Human capital services leverage research, analytics, and industry insights to help design and execute critical programs from business driven HR to innovative talent, leadership, and change programs.</p>
        <p><a class="btn btn-default" href="/HR" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="/img/softdev-placeholder.jpg" alt="Software Development placeholder image" width="140" height="140">
        <h2>Software Developing</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="/Software" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </section>  
</div><!-- /.container -->

<hr class="featurette-divider">

<!-- FOOTER -->
<footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>&copy; 2017 Lawrence & Brothers Canada, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer> 